---
import Clock from "@/components/Clock.astro";
import { NavLinkData as NavLinks, ProjectData as Projects } from "@/data";
---

<section class="hero">
  <header class="pt-12 pb-4 px-5 xl:px-48 w-full">
    <div class="flex flex-row w-full justify-between">
      <p class="text-neutral-800 text-lg text-nowrap">
        Eduardo Navarro © 2024
      </p>

      <div class="hidden md:flex flex-row gap-10">
        <div>
          <a href="#" class="link text-neutral-800 text-lg"> Contactarme</a>
        </div>
      </div>
      <button class="block md:hidden col-span-1 col-start-12 lg:col-span-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
        </svg>
      </button>
      <p
        class="col-span-2 hidden md:block col-start-9 max-w-32 text-lg leading-tighttext-start text-neutral-800"
      >
        Radicado en <br /> Santiago, Chile
      </p>
      <Clock />
    </div>
  </header>
  <div class="overflow-hidden">
    <div
      class="mix-blend-difference scroll text-9xl text-nowrap mt-6 tracking-tighter text-white"
    >
      Frontend ⎯ Backend ⎯ UX/UI ⎯ Frontend ⎯ Backend ⎯ UX/UI ⎯ Frontend ⎯
      Backend ⎯ UX/UI ⎯ Frontend ⎯ Backend ⎯ UX/UI ⎯ Frontend ⎯ Backend ⎯ UX/UI
      ⎯ Frontend ⎯ Backend ⎯ UX/UI
    </div>
  </div>

  <div
    class="px-5 xl:px-48 pt-44 mt-[-260px] flex md:flex-row flex-col md:gap-24"
  >
    <div class="flex flex-col gap-10 md:min-w-[300px]">
      <img class="rounded-3xl inline-block" src="../../images/selfie.jpg" />
    </div>
    <div class="flex-1 flex flex-col mt-32 lg:mt-52 gap-5">
      <p class="text-2xl tracking-tighter">¡Hola!</p>

      <p
        class="text-4xl tracking-tight md:text-balance max-w-2xl text-neutral-800"
      >
        Soy un Desarrollador Full Stack enfocado en crear experiencias unicas e
        inmersivas para la web.
      </p>

      <div class="hidden md:flex flex-row gap-20 pt-5">
        {
          NavLinks.map((navLink) => (
            <div>
              <a href={navLink.url} class="link text-neutral-800 text-xl">
                {navLink.label}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
<section class="projects">
  <div class="px-5 pt-36 xl:px-48">
    <h1 class="lg:text-end text-4xl tracking-tighter text-neutral-800 pb-10">
      Proyectos
    </h1>
    <div class="flex flex-col gap-16">
      {
        Projects.map((project, i) => (
          <div class="flex flex-col lg:flex-row gap-4">
            <div class="w-full flex flex-col gap-8">
              <div class="flex flex-col gap-5">
                <h3 class="text-3xl lg:text-4xl tracking-tighter text-neutral-800">
                  {("0" + (i + 1)).slice(-2)} ⎯ {project.name}
                </h3>
                <p class="lg:text-xl text-lg md:text-balance text-neutral-800 tracking-tight">
                  {project.description}
                </p>
              </div>
              <div class="flex flex-row gap-8">
                <div class="flex flex-row items-center gap-2">
                  <a
                    href={project.live_url}
                    class="uppercase font-semibold text-neutral-800"
                  >
                    Live Preview
                  </a>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                    />
                  </svg>
                </div>
                <a
                  href={project.repo_url}
                  class="uppercase font-bold text-neutral-800"
                >
                  GitHub Repo
                </a>
              </div>
            </div>
            <div class="w-full bg-neutral-200 rounded-3xl" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  a {
    display: inline-block;
    position: relative;

    text-decoration: none;
  }
  a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }

  .scroll {
    animation: scroll 10s linear infinite;
  }

  .reverse {
    animation-direction: reverse;
  }

  .selfie {
    background: url("../../public/images/selfie.jpg") no-repeat;
    background-size: 100%;
  }
</style>
